*{
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1E90FF;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #fff;
    font-size: 34px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  #quiz-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #options-container {
    display: flex;
    flex-direction: column;
  }
  
.option {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.option:active {
  background-color: #490db9;
  color:white;
}

#button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
  
#score-container {
  text-align: center;
  display: none;
  margin-top: 20px;
}
  
  
#next-btn,#submit-btn{
  padding: 1rem 2rem;
  background-color: #490db9;
  color: white;
  border: none;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
  #retry-btn {
    display: none;
  }
  