* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
  }
    
  h1 {
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 2rem;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid rgba(71, 12, 180, 0.5);
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(71, 12, 180, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
